<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- python -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    
    <!-- tail wind -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
   <title>GetMp3</title>
  </head>
  <body>
    <!-- <div class="logo .col-2">
      <a href="#"><img src="" alt="company logo" /></a>
    </div> -->
    <section class="container">
    <div class="content col-9">
      <div class="intro blur">
        <p>
          Welcome to GetMp3, your one-stop destination for extracting audio from
          your favorite video files quickly and easily.
          <span class="intro2"> With our user-friendly
          interface, you can convert any video to audio in just a few clicks.
          Say goodbye to complex software and hello to hassle-free audio
          extraction with GetMp3.</span>
        </p>
      </div>
      <div class="drop-box blur">
        <div id="drop_zone" class="drop-area">
          <p>drag and drop your file</p>
          <p>(or)</p>
          <div>
            <form
              id="myForm"
              method="POST"
              enctype="multipart/form-data"
              action="/upload"
            >
            
            <input type="file" name="file" id="fileInput" />
            
            <!-- <input type="file" id="file-upload" name="file" />
            <label for="file-upload" id="file-upload-label"
              >Choose a file</label> -->
            </form>
          </div>
        </div>
      </div>
      <div class="download">
        <button
          type="submit"
          value="submit"
          onclick="submitForm()"
        >
          Download
        </button>
      </div>
      <div class="links"></div>
    </div>
    </section>
  </body>
  <script >
   function submitForm() {
      document.getElementById('myForm').submit();
    }
</script>
</html>